In [39]:
import pandas as pd
import numpy as np

In [30]:
import os

In [31]:
os.listdir()

['Cat',
 'Car',
 'labels.csv',
 'Cup',
 '.DS_Store',
 'Dog',
 'labels.ipynb',
 'Boat',
 'Chair',
 'Bus',
 'Motorbike',
 'Table',
 'People',
 'prediction_result.xlsx',
 '.ipynb_checkpoints',
 'Bicycle',
 'Bottle']

In [5]:
os.getcwd()

'/Users/wuyang/Desktop/image_final/ExDark'

In [6]:
cats = os.getcwd()+"/" + "Cat"
dogs = os.getcwd() + "/" + "Dog"

In [10]:
cat = os.listdir(cats)
dog = os.listdir(dogs)

In [16]:
labels = pd.DataFrame(columns = ["file_name", "label"], index= range(len(cat)+len(dog)))

In [18]:
labels["file_name"] = cat+dog

In [19]:
labels

            file_name label
0      2015_03514.jpg   NaN
1      2015_03272.jpg   NaN
2      2015_03266.jpg   NaN
3      2015_03500.jpg   NaN
4      2015_03528.jpg   NaN
...               ...   ...
1531   2015_05632.jpg   NaN
1532   2015_05626.jpg   NaN
1533  2015_05333.JPEG   NaN
1534   2015_05140.jpg   NaN
1535   2015_05168.jpg   NaN

[1536 rows x 2 columns]

In [23]:
labels["label"] = [0]*735 + [1]*801

In [24]:
labels

            file_name  label
0      2015_03514.jpg      0
1      2015_03272.jpg      0
2      2015_03266.jpg      0
3      2015_03500.jpg      0
4      2015_03528.jpg      0
...               ...    ...
1531   2015_05632.jpg      1
1532   2015_05626.jpg      1
1533  2015_05333.JPEG      1
1534   2015_05140.jpg      1
1535   2015_05168.jpg      1

[1536 rows x 2 columns]

In [25]:
labels.to_csv("labels.csv", index = False)

In [45]:
labels = pd.read_csv("labels.csv")

In [43]:
pred = pd.read_excel("prediction_result.xlsx")

In [44]:
pred

      Unnamed: 0       0
0     2015_03042  0.0050
1     2015_03043  0.3777
2     2015_03044  0.0274
3     2015_03048  0.4389
4     2015_03049  0.0037
...          ...     ...
1300  2015_05740  0.2048
1301  2015_05741  0.1727
1302  2015_05742  0.0156
1303  2015_05743  0.4447
1304  2015_05744  0.0021

[1305 rows x 2 columns]

In [155]:
labels["label"].sum()

801

In [50]:
data = pred

In [51]:
data.colnames[0] = "sample"

In [52]:
data.colnames[1] = "prediction"

In [60]:
labels["gt"] = 0

In [62]:
for i in range(len(labels["file_name"])):
    labels.iloc[i,2] = labels["file_name"][i].split(".")[0]

In [67]:
data.colnames

['sample', 'prediction']

In [73]:
data=pd.DataFrame(np.array(data))

In [82]:
data = data.rename(columns= {0:"gt", 1:"prediction"})

In [83]:
data.columns

Index(['gt', 'prediction'], dtype='object')

In [84]:
data

              gt prediction
0     2015_03042      0.005
1     2015_03043     0.3777
2     2015_03044     0.0274
3     2015_03048     0.4389
4     2015_03049     0.0037
...          ...        ...
1300  2015_05740     0.2048
1301  2015_05741     0.1727
1302  2015_05742     0.0156
1303  2015_05743     0.4447
1304  2015_05744     0.0021

[1305 rows x 2 columns]

In [86]:
foo = data.merge(labels)

In [89]:
foo

              gt prediction       file_name  label
0     2015_03042      0.005  2015_03042.jpg      0
1     2015_03043     0.3777  2015_03043.jpg      0
2     2015_03044     0.0274  2015_03044.jpg      0
3     2015_03048     0.4389  2015_03048.jpg      0
4     2015_03049     0.0037  2015_03049.jpg      0
...          ...        ...             ...    ...
1300  2015_05740     0.2048  2015_05740.jpg      1
1301  2015_05741     0.1727  2015_05741.jpg      1
1302  2015_05742     0.0156  2015_05742.jpg      1
1303  2015_05743     0.4447  2015_05743.jpg      1
1304  2015_05744     0.0021  2015_05744.jpg      1

[1305 rows x 4 columns]

In [90]:
for i in range(1305):
    if foo.iloc[i, 1]>=0.5:
        foo.iloc[i, 1] = 1
    else:
        foo.iloc[i, 1] = 0

In [91]:
foo

              gt prediction       file_name  label
0     2015_03042          0  2015_03042.jpg      0
1     2015_03043          0  2015_03043.jpg      0
2     2015_03044          0  2015_03044.jpg      0
3     2015_03048          0  2015_03048.jpg      0
4     2015_03049          0  2015_03049.jpg      0
...          ...        ...             ...    ...
1300  2015_05740          0  2015_05740.jpg      1
1301  2015_05741          0  2015_05741.jpg      1
1302  2015_05742          0  2015_05742.jpg      1
1303  2015_05743          0  2015_05743.jpg      1
1304  2015_05744          0  2015_05744.jpg      1

[1305 rows x 4 columns]

In [92]:
count = 0
for i in range(1305):
    if foo.iloc[i,1]==foo.iloc[i,3]:
        count+=1

In [94]:
count/1305

0.518007662835249

In [99]:
count2 = 0
for i in range(1536):
    if labels.iloc[i,0].split(".")[1]=="jpg":
        count2+=1
count2

1305

In [97]:
labels

            file_name  label          gt
0      2015_03514.jpg      0  2015_03514
1      2015_03272.jpg      0  2015_03272
2      2015_03266.jpg      0  2015_03266
3      2015_03500.jpg      0  2015_03500
4      2015_03528.jpg      0  2015_03528
...               ...    ...         ...
1531   2015_05632.jpg      1  2015_05632
1532   2015_05626.jpg      1  2015_05626
1533  2015_05333.JPEG      1  2015_05333
1534   2015_05140.jpg      1  2015_05140
1535   2015_05168.jpg      1  2015_05168

[1536 rows x 3 columns]

In [118]:
MSRCR = pd.read_excel("prediction_result1.xlsx")
MSRCR1 = pd.read_excel("prediction_result2.xlsx")
AutoMSRCR = pd.read_excel("prediction_result3.xlsx")

In [119]:
MSRCR

     Unnamed: 0       0
0    2015_03048  0.3539
1    2015_03049  0.4240
2    2015_03051  0.1216
3    2015_03058  0.4528
4    2015_03059  0.4850
..          ...     ...
482  2015_03772  0.0226
483  2015_03773  0.0570
484  2015_03774  0.3177
485  2015_03775  0.0058
486  2015_03776  0.5868

[487 rows x 2 columns]

In [120]:
MSRCR1

     Unnamed: 0       0
0    2015_03048  0.4789
1    2015_03049  0.0063
2    2015_03051  0.0991
3    2015_03058  0.3922
4    2015_03059  0.3950
..          ...     ...
484  2015_03772  0.0010
485  2015_03773  0.0326
486  2015_03774  0.3118
487  2015_03775  0.0096
488  2015_03776  0.7127

[489 rows x 2 columns]

In [121]:
AutoMSRCR

     Unnamed: 0       0
0    2015_03048  0.3070
1    2015_03049  0.0094
2    2015_03051  0.0088
3    2015_03058  0.2854
4    2015_03059  0.5169
..          ...     ...
482  2015_03772  0.0419
483  2015_03773  0.3211
484  2015_03774  0.2533
485  2015_03775  0.0067
486  2015_03776  0.8716

[487 rows x 2 columns]

In [122]:
MSRCR["pred"] = 0
for i in range(MSRCR.shape[0]):
    if MSRCR.iloc[i,1]>=0.5:
        MSRCR.iloc[i,2]=1
    else:
        MSRCR.iloc[i,2]=0
MSRCR

     Unnamed: 0       0  pred
0    2015_03048  0.3539     0
1    2015_03049  0.4240     0
2    2015_03051  0.1216     0
3    2015_03058  0.4528     0
4    2015_03059  0.4850     0
..          ...     ...   ...
482  2015_03772  0.0226     0
483  2015_03773  0.0570     0
484  2015_03774  0.3177     0
485  2015_03775  0.0058     0
486  2015_03776  0.5868     1

[487 rows x 3 columns]

In [123]:
MSRCR["pred"].sum()

55

In [128]:
(MSRCR.shape[0]-MSRCR["pred"].sum())/MSRCR.shape[0]

0.8870636550308009

In [124]:
MSRCR1["pred"] = 0
for i in range(MSRCR1.shape[0]):
    if MSRCR1.iloc[i,1]>=0.5:
        MSRCR1.iloc[i,2]=1
    else:
        MSRCR1.iloc[i,2]=0
MSRCR1

     Unnamed: 0       0  pred
0    2015_03048  0.4789     0
1    2015_03049  0.0063     0
2    2015_03051  0.0991     0
3    2015_03058  0.3922     0
4    2015_03059  0.3950     0
..          ...     ...   ...
484  2015_03772  0.0010     0
485  2015_03773  0.0326     0
486  2015_03774  0.3118     0
487  2015_03775  0.0096     0
488  2015_03776  0.7127     1

[489 rows x 3 columns]

In [129]:
(MSRCR1.shape[0]-MSRCR1["pred"].sum())/MSRCR1.shape[0]

0.9202453987730062

In [ ]:
MSRCR1["pred"].sum()

In [126]:
AutoMSRCR["pred"] = 0
for i in range(AutoMSRCR.shape[0]):
    if AutoMSRCR.iloc[i,1]>=0.5:
        AutoMSRCR.iloc[i,2]=1
    else:
        AutoMSRCR.iloc[i,2]=0
AutoMSRCR

     Unnamed: 0       0  pred
0    2015_03048  0.3070     0
1    2015_03049  0.0094     0
2    2015_03051  0.0088     0
3    2015_03058  0.2854     0
4    2015_03059  0.5169     1
..          ...     ...   ...
482  2015_03772  0.0419     0
483  2015_03773  0.3211     0
484  2015_03774  0.2533     0
485  2015_03775  0.0067     0
486  2015_03776  0.8716     1

[487 rows x 3 columns]

In [127]:
AutoMSRCR["pred"].sum()

69

In [130]:
(AutoMSRCR.shape[0]-AutoMSRCR["pred"].sum())/AutoMSRCR.shape[0]

0.8583162217659137

In [136]:
dark = pd.read_excel("prediction_result_dark_all.xlsx")

In [137]:
dark

      Unnamed: 0       0
0     2015_03042  0.0050
1     2015_03043  0.6223
2     2015_03044  0.0383
3     2015_03048  0.4389
4     2015_03049  0.0039
...          ...     ...
1300  2015_05740  0.2048
1301  2015_05741  0.3651
1302  2015_05742  0.0080
1303  2015_05743  0.2869
1304  2015_05744  0.0021

[1305 rows x 2 columns]

In [138]:
dark["pred"] = 0
for i in range(dark.shape[0]):
    if dark.iloc[i,1]>=0.5:
        dark.iloc[i,2]=1
    else:
        dark.iloc[i,2]=0
dark

      Unnamed: 0       0  pred
0     2015_03042  0.0050     0
1     2015_03043  0.6223     1
2     2015_03044  0.0383     0
3     2015_03048  0.4389     0
4     2015_03049  0.0039     0
...          ...     ...   ...
1300  2015_05740  0.2048     0
1301  2015_05741  0.3651     0
1302  2015_05742  0.0080     0
1303  2015_05743  0.2869     0
1304  2015_05744  0.0021     0

[1305 rows x 3 columns]

In [140]:
labels

            file_name  label          gt
0      2015_03514.jpg      0  2015_03514
1      2015_03272.jpg      0  2015_03272
2      2015_03266.jpg      0  2015_03266
3      2015_03500.jpg      0  2015_03500
4      2015_03528.jpg      0  2015_03528
...               ...    ...         ...
1531   2015_05632.jpg      1  2015_05632
1532   2015_05626.jpg      1  2015_05626
1533  2015_05333.JPEG      1  2015_05333
1534   2015_05140.jpg      1  2015_05140
1535   2015_05168.jpg      1  2015_05168

[1536 rows x 3 columns]

In [144]:
dark = pd.DataFrame(np.array(dark))
dark = dark.rename(columns= {0:"gt", 1:"prediction",2:"pred"})

In [146]:
dark = dark.merge(labels)
dark

              gt prediction pred       file_name  label
0     2015_03042      0.005    0  2015_03042.jpg      0
1     2015_03043     0.6223    1  2015_03043.jpg      0
2     2015_03044     0.0383    0  2015_03044.jpg      0
3     2015_03048     0.4389    0  2015_03048.jpg      0
4     2015_03049     0.0039    0  2015_03049.jpg      0
...          ...        ...  ...             ...    ...
1300  2015_05740     0.2048    0  2015_05740.jpg      1
1301  2015_05741     0.3651    0  2015_05741.jpg      1
1302  2015_05742      0.008    0  2015_05742.jpg      1
1303  2015_05743     0.2869    0  2015_05743.jpg      1
1304  2015_05744     0.0021    0  2015_05744.jpg      1

[1305 rows x 5 columns]

In [147]:
count = 0
for i in range(dark.shape[0]):
    if dark.iloc[i,2]==dark.iloc[i,4]:
        count +=1
count/dark.shape[0]

0.6551724137931034

In [148]:
def get_acc(path):
    dark = pd.read_excel(path)
    global labels
    dark["pred"] = 0
    for i in range(dark.shape[0]):
        if dark.iloc[i,1]>=0.5:
            dark.iloc[i,2]=1
        else:
            dark.iloc[i,2]=0
    dark = pd.DataFrame(np.array(dark))
    dark = dark.rename(columns= {0:"gt", 1:"prediction",2:"pred"})
    dark = dark.merge(labels)
    count = 0
    for i in range(dark.shape[0]):
        if dark.iloc[i,2]==dark.iloc[i,4]:
            count +=1
    return count/dark.shape[0]

In [149]:
get_acc("prediction_result_dark_all.xlsx")

0.6551724137931034

In [150]:
get_acc("prediction_result_auto.xlsx")

0.7347670250896058

In [152]:
get_acc("prediction_result_MSRCR.xlsx")

0.7075134168157424

In [151]:
get_acc("prediction_result_MSRCP.xlsx")

0.7105734767025089

In [153]:
get_acc("prediction_result_new.xlsx")

0.7482732156561781